<h1 class="title">Maiden florist</h1>
<div  class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row loginform">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form>
                    <h1>Login</h1>
                    <p class="text-muted">Sign In to your account</p>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Username" autocomplete="username" required>
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button type="button" class="btn btn-success px-4 login">Login</button>
                      </div>
                      <div class="col-6 text-right">
                        <button type="button" class="btn btn-link px-0 fpass">Forgot password?</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card text-white  py-5 d-md-down-none signup_color" style="width:44%;display: flex;">
                <div class="card-body text-center">
                  <div>
                    <h2>Sign up</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                   <button type="button" (click)="registerNav()" class="btn btn-success active mt-3">Register Now!!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  