.title{
text-align: center;
margin-top:2%;

}
.loginform{
margin-top: 5%;
}
.login{
    background-color:#ff69b4;
}
.fpass{
    color:  #ff69b4;;

}
.signup_color{
    background-color:  #ff69b4;;
 
}
