<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row register">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form [formGroup]="signup_form" (ngSubmit)="onSubmit1()">
                  <h1>Register</h1>
                  <p class="text-muted">Create your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" formControlName="username" class="form-control" placeholder="Username"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">UserName is required</div>
                  </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text" formControlName="email" class="form-control" placeholder="Email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                 
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input [type]="pshow ? 'text' : 'password'" id="password" formControlName="password" class="form-control" 
                    placeholder="password" [ngClass]="{ 'is-invalid':submitted && f.password.errors }" >
                    
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-fw fa-eye field_icon toggle-password" id="eye" (click)="password()"></i></span>
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                  
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input [type]="cshow ? 'text' : 'password'" id="cpassword" formControlName="CPassword" class="form-control" 
                    placeholder="Confirm password" [ngClass]="{'is-invalid': submitted && f.CPassword.errors }" >
                    <!-- <i class="fa fa-fw fa-eye field_icon toggle-password" id="eye" (click)="cpassword()"></i> -->
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-fw fa-eye field_icon toggle-password" id="eye" (click)="cpassword()"></i></span>
                    </div>
                    <div *ngIf="submitted && f.CPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.CPassword.errors.required">ConfirmPassword field is required</div>
                      <div *ngIf="f.CPassword.errors.mustMatch">ConfirmPassword field must be same as Password </div>
                  </div>
                  </div>
                  <button type="submit"  class="btn btn-block btn-success signup_button"  >Create Account</button>
                </form>
              </div>
        
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  